// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-axosoft {
    .select-list {
        position: relative;
        margin-left: @component-line-height;
        height: @component-line-height;
        ol.list-group,
        > span {
            display: none;
        }
        &.active {
            > span {
                display:block;
                background-color: #252c37;
            }
            ol.list-group {
                display:block;
                position: absolute;
                top: @component-line-height;
                line-height: @component-line-height;
                margin: 0;
                z-index: 999;
                background-color: #252c37;
            }
        }
        &::before {
            display: block;
            position: absolute;
            width: @component-line-height;
            height: (@component-line-height * .75);
            // #8AC732
            background-color: fade(@background-color-success, 66%);
            -webkit-mask-image: url(atom://atom-axosoft/resources/svg/axosoft-logo.svg);
            mask-image: url(atom://atom-axosoft/resources/svg/axosoft-logo.svg);
            top: 0;
            left: -@component-line-height;
            content: " ";
            line-height: @component-line-height;
        }

        &::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            content: attr(data-project-name);
            top: 0;
            left: 0;
            line-height: @component-line-height;
            padding-left: 0.5em;
            pointer-events: none;
            opacity: 0.66;
            transition: opacity 500ms ease-out;
        }
        &:hover,
        &.focus,
        &.active {
            &::after {
                opacity: 0;
                transition: opacity 150ms ease-out;
            }
        }

    }
}

.atom-axosoft-feature-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        // select {
        //     position: relative;
        // }
        // span::before {
        //     display: block;
        //     position: absolute;
        //     top: 1em;
        //     left: 0;
        //     width: 5em;
        //     height: 1em;
        //     background-color: red;
        //     content: " ";
        //     z-index: 99999;
        // }
        display: block;
        clear: both;
        border-left: 0.25em solid transparent;
        span {
            display: inline-block;
            width: 30%;
            background-color: transparent;
            height: 1.75em;
            line-height: 1.75em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            padding: 0 0.5em 0 0.5em;
        }
        .atom-axosoft-feature-status {
            width: 20%;
            text-align: right;
        }
        .atom-axosoft-feature-name {
            width: 60%;
        }
        .atom-axosoft-feature-priority {
            width: 20%;
        }
        &.atom-axosoft-feature-priority-high {
            background-color: fade(@background-color-error, 15%);
            border-left-color: fade(@background-color-error, 50%);
        }
        &.atom-axosoft-feature-priority-medium {
            background-color: fade(@background-color-warning, 15%);
            border-left-color: fade(@background-color-warning, 50%);
        }
        &.atom-axosoft-feature-priority-low {
            border-left-color: fade(@background-color-success, 50%);
        }
    }
}
