// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes pulsate {
    from {
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    to {
        opacity: .1
    }
}
@keyframes pulsate {
    from {
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    to {
        opacity: .1
    }
}

.atom-axosoft {
    overflow-y: auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    .atom-axosoft-filter,
    .settings-view {
        position: relative;
        width: 100%;
        .control-label {
            display: inline-block;
            width: 30%;
        }
        .controls {
            width: 100%;
            margin-right: @component-line-height;
            .form-control {
                display: inline-block;
                width: 70%;
                option.atom-axosoft-placeholder {
                    display: none;
                }
            }
        }
        a.atom-axosoft-reload {
            position: absolute;
            width: @component-line-height;
            height: @component-line-height;
            background-color: fade(@text-color, 33%);
            top: 0;
            right: 0;
            z-index: 1;
            -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_refresh_black_24px.svg) no-repeat 50% 50%;
            mask: url(atom://atom-axosoft/resources/svg/ic_refresh_black_24px.svg) no-repeat 50% 50%;
            -webkit-mask-size: 80%;
            mask-size: 80%;
            &:hover {
                background-color: @text-color;
            }
        }
        &.atom-axosoft-reloading {
            a.atom-axosoft-reload {
                -webkit-animation: rotate 4s infinite linear;
                animation: rotate 4s infinite linear;
            }
        }
    }

    .atom-axosoft-message {
        position: relative;
        padding: .5em 1.25em .5em 1.25em;
        z-index: 1;
        background: transparent;
        &::before {
            display: block;
            content: " ";
            width: @component-line-height;
            height: @component-line-height;
            position: absolute;
            right: .5em;
            top: 0.25em;
            z-index: -1;
            line-height: @component-line-height;
            -webkit-mask-size: fill;
            mask-size: fill;
        }
        &.loading {
            background-color: fade(@background-color-info, 20%);
            color: @text-color-info;
            &::before {
                background-color: fade(@background-color-info, 50%);
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_refresh_black_24px.svg) no-repeat right;
                mask: url(atom://atom-axosoft/resources/svg/ic_refresh_black_24px.svg) no-repeat right;
                -webkit-animation: rotate 3s infinite linear;
                animation: rotate 3s infinite linear;
            }
        }
        &.info {
            background-color: fade(@background-color-info, 20%);
            color: @text-color-info;
            &::before {
                background-color: fade(@background-color-info, 50%);
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_info_black_24px.svg) no-repeat right;
                mask: url(atom://atom-axosoft/resources/svg/ic_info_black_24px.svg) no-repeat right;
                -webkit-animation: pulsate 3s infinite linear;
                animation: pulsate 3s infinite linear;
            }
        }
        &.warning {
            background-color: fade(@background-color-warning, 20%);
            color: @text-color-warning;
            &::before {
                background-color: fade(@background-color-warning, 50%);
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_warning_black_24px.svg) no-repeat right;
                mask: url(atom://atom-axosoft/resources/svg/ic_warning_black_24px.svg) no-repeat right;
                -webkit-animation: pulsate 3s infinite linear;
                animation: pulsate 3s infinite linear;
            }
        }
        &.error {
            background-color: fade(@background-color-error, 20%);
            color: @text-color-error;
            &::before {
                background-color: fade(@background-color-error, 50%);
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_warning_black_24px.svg) no-repeat right;
                mask: url(atom://atom-axosoft/resources/svg/ic_warning_black_24px.svg) no-repeat right;
                -webkit-animation: pulsate 3s infinite linear;
                animation: pulsate 3s infinite linear;
            }
        }
        &:empty {
            display: none;
            &::before {
                display: none;
            }
        }
    }
}

.atom-axosoft-feature-list {
    list-style: none;
    margin: 0;
    // margin: (@component-line-height * 2) 0 0 0;
    padding: 0 0 (@component-line-height * 4) 0;
    // padding: 0;
    max-height: 100%;
    overflow-y: auto;
    z-index: 0;
    > li {
        &:last-child {
            // margin-bottom: 10em;
        }
        // select {
        //     position: relative;
        // }
        // span::before {
        //     display: block;
        //     position: absolute;
        //     top: 1em;
        //     left: 0;
        //     width: 5em;
        //     height: 1em;
        //     background-color: red;
        //     content: " ";
        //     z-index: 99999;
        // }
        display: block;
        clear: both;;
        border-left: 0.25em solid transparent;
        border-bottom: 1px solid @app-background-color;
        cursor: default;
        > span,
        > a {
            display: inline-block;
            width: 30%;
            background-color: transparent;
            height: 1.75em;
            line-height: 1.75em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            padding: 0 0.5em 0 0.5em;

        }
        .atom-axosoft-feature-id {
            width: 15%;
            text-align: right;
            font-size: 90%;
        }
        .atom-axosoft-feature-name {
            width: 55%;
            text-align: left;
        }
        .atom-axosoft-feature-status {
            width: 25%;
            text-align: left;
            font-size: 90%;
        }
        .atom-axosoft-feature-priority {
            width: 5%;
            text-align: right;
            text-shadow: 0 0.0612em 0.125em fade(@app-background-color, 50%);
        }
        .atom-axosoft-feature-description {
            width: 100%;
            max-height: 0;
            color: @text-color;
            overflow: auto;
            text-align: left;
            background-color: @base-background-color;
            transition: max-height 150ms ease-in;
            &.atom-axosoft-empty {
                color: fade(@text-color, 50%);
                text-align: center;
            }
            > div {
                margin: (@component-line-height / 2);
            }
            h1 {
                font-size: @font-size * 1.5;
            }
            h2 {
                font-size: @font-size * 1.33;
            }
            h3 {
                font-size: @font-size * 1.2;
            }
            h4, h5, h6 {
                font-size: @font-size;
            }
            ul, ol {
                padding: 0 0 0 1.5em;
                margin: 0 0 (@component-line-height / 2) 0
            }
        }
        &.atom-axosoft-open {
            .atom-axosoft-feature-description {
                max-height: 20em;
                // visibility: visible;
            }
        }
        &.atom-axosoft-feature-priority-high {
            background-color: fade(@background-color-error, 7%);
            &:hover {
                background-color: fade(@background-color-error, 25%);
            }
            border-left-color: fade(@background-color-error, 50%);
            .atom-axosoft-feature-priority {
                // color: @background-color-error;
                background-color: @background-color-error;
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_up_black_24px.svg) no-repeat 50% 50%;
                mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_up_black_24px.svg) no-repeat 50% 50%;
                line-height: @component-line-height;
                width: 1em;
                -webkit-mask-size: contain;
                mask-size: contain;
            }
        }
        &.atom-axosoft-feature-priority-medium {
            background-color: fade(@background-color-warning, 7%);
            &:hover {
                background-color: fade(@background-color-warning, 25%);
            }
            border-left-color: fade(@background-color-warning, 50%);
            .atom-axosoft-feature-priority {
                background-color: @background-color-warning;
                // background-color: @background-color-error;
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_up_black_24px.svg) no-repeat 50% 50%;
                mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_up_black_24px.svg) no-repeat 50% 50%;
                line-height: @component-line-height;
                width: 1em;
                -webkit-mask-size: contain;
                mask-size: contain;
            }
        }
        &.atom-axosoft-feature-priority-low {
            background-color: fade(@background-color-success, 7%);
            &:hover {
                background-color: fade(@background-color-success, 25%);
            }
            border-left-color: fade(@background-color-success, 50%);
            .atom-axosoft-feature-priority {
                background-color: @background-color-success;
                -webkit-mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_down_black_24px.svg) no-repeat 50% 50%;
                mask: url(atom://atom-axosoft/resources/svg/ic_keyboard_arrow_down_black_24px.svg) no-repeat 50% 50%;
                line-height: @component-line-height;
                width: 1em;
                -webkit-mask-size: contain;
                mask-size: contain;
            }
        }

    }
}
